* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {
    font-family: Iosevka Charon;
    background-color: rgb(176, 209, 176);
    color: rgb(9, 29, 94)
}

header {
    background-color: #bbbbee;
    border-bottom: 3px solid rgb(9, 29, 94);
    padding: 15px
}  

h1, h4{
    display: flex;
    justify-content: center;
}


h2 {
    display: flex;
    justify-content: center;
    color: rgb(30, 105, 116)
}

h3{
    display: flex;
    justify-content: center;
}

h4, h5 {
    font-size: larger;
    font-weight: bolder;
}

.image-paragraph-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

p, h2, h3, h4, h5, img {
    margin-bottom: 1em;
}

ul {
    margin-bottom: 1em;
    padding-left: 40px;
}

footer {
    margin-top: 2em;
    display: flex;
    align-items: flex-end;
}

.highlight-list {
    background-color: rgba(17, 6, 172, 0.05);
    padding: 15px 20px 5px;
    border-radius: 5px;
    margin-bottom: 1em;
    border: 2px solid blanchedalmond;
    font-weight: bolder;
}

#about-me {
    background-color: rgba(30, 105, 116, 0.25);
    padding: 20px;
    border: 2px solid blanchedalmond;
}

#contact-me {
    margin-left: 2em;
}